@{
    Layout = null;
}

@using AdministrationPortal.Helpers

<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="@Html.HighlightIfActive("Home")">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="@Html.HighlightIfActive("Help")">
            <a href="@Url.Action("Index", "Help")"><i class="fa fa-fw fa-question"></i> Help!</a>
        </li>
        <li class="@Html.HighlightIfActive("Notifyees")">
            <a href="@Url.Action("Index","Notifyees")"><i class="fa fa-fw fa-users"></i> Notifyees</a>
        </li>
        <li class="@Html.HighlightIfActive("EscalationChains")">
            <a href="@Url.Action("Index","EscalationChains")"><i class="fa fa-fw fa-list-ol"></i> Escalation Chains</a>
        </li>
        <li class="@Html.HighlightIfActive("Alerts")">
            <a href="@Url.Action("Index","Alerts")"><i class="fa fa-fw fa-bell"></i> Alerts</a>
        </li>
        <li class="@Html.HighlightIfActive("Rules")">
            <a href="@Url.Action("Index", "Rules")"><i class="fa fa-fw fa-cogs"></i> Rules</a>
        </li>
        <li class="@Html.HighlightIfActive("MessageTypes") @Html.HighlightIfActive("AlertTypes") @Html.HighlightIfActive("RuleCategories") @Html.HighlightIfActive("SupportCategories")">
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-wrench"></i> Tweaks <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li class="@Html.HighlightIfActive("AlertTypes")">
                    <a href="@Url.Action("Index","AlertTypes")"><i class="fa fa-fw fa-bell"></i> Alert Types</a>
                </li>
                <li class="@Html.HighlightIfActive("MessageTypes")">
                    <a href="@Url.Action("Index","MessageTypes")"><i class="fa fa-fw fa-book"></i> Message Types</a>
                </li>
                <li class="@Html.HighlightIfActive("RuleCategories")">
                    <a href="@Url.Action("Index","RuleCategories")"><i class="fa fa-fw fa-gavel"></i> Rule Categories</a>
                </li>
                <li class="@Html.HighlightIfActive("SupportCategories")">
                    <a href="@Url.Action("Index","SupportCategories")"><i class="fa fa-fw fa-life-ring"></i> Support Categories</a>
                </li>
            </ul>
        </li>
    </ul>
</div>