@model WatchdogDatabaseAccessLayer.Models.Alert

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUserPortal.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Severity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Severity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rule.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertParameters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertParameters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<div class="col-md-offset-1">
    @Html.ActionLink("Change Status", "Edit", new { id = (int)Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", new {ActiveOrArchived = Model.Status.ToString()}, new { @class = "btn btn-default" })
</div>
