@model WatchdogDatabaseAccessLayer.Alert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlertType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rule.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rule.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertStatusId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
