@model AdministrationPortal.ViewModels.Alerts.AlertDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUserPortal.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alert.Severity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alert.Severity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alert.AlertGroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alert.AlertGroupId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alert.AlertStatus.StatusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.AlertStatus.StatusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.AlertStatus.FirstStatus().Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.AlertStatus.FirstStatus().Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.AlertStatus.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.AlertStatus.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.AlertType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.AlertType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.Rule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.Rule.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.Server)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.Server)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.EngineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.EngineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.MessageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.MessageType.Name)
        </dd>


        @foreach (var item in Model.Alert.AlertParameters)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Alert.AlertParameters)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Value)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Alert.Assignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.Assignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert.Notes)
        </dd>

    </dl>
</div>
<div class="col-md-offset-1">
    @Html.ActionLink("Edit Alert", "Edit", new { id = (int)Model.Alert.Id, Model.PageNo, Model.sortOrder }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", new { ActiveOrArchived = Model.Alert.AlertStatus.MostRecent().StatusCode.ToString(), Page_No = Model.PageNo, sortOrder = Model.sortOrder }, new { @class = "btn btn-default" })
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-md-8">
        <table class="table table-striped table-hover table-responsive">
            @foreach (var item in Model.groupedAlerts)
            {
                string cssClass = "";
                switch (item.Severity)
                {
                    case 5:
                        cssClass = "redTableCell";
                        break;
                    case 4:
                        cssClass = "orangeTableCell";
                        break;
                    case 3:
                        cssClass = "yellowTableCell";
                        break;
                    case 2:
                        cssClass = "blueTableCell";
                        break;
                    default:
                        cssClass = "greenTableCell";
                        break;
                }


                <tr onclick="location.href = '@(Url.Action("Details", "Alerts", new { id=(int)item.Id, Model.PageNo}))'">

                    <td class="@cssClass ">
                        @Html.DisplayFor(modelItem => item.Severity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlertStatus.StatusCode)<br />
                        @Html.DisplayFor(modelItem => item.Rule.SupportCategory.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AlertType.Name)<br />
                        @Html.DisplayFor(modelItem => item.AlertStatus.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Origin)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>

