@model AdministrationPortal.ViewModels.Alerts.AlertCreateViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUserPortal.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Alert</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Alert.Id)
        @Html.HiddenFor(model => model.Alert.MessageType)


        <div class="form-group">
            @Html.LabelFor(model => model.Alert.TimeCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.TimeCreated, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.TimeCreated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.TimeModified, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.TimeModified, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.TimeModified, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.AlertTypeId, "AlertTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.AlertTypeId, new { @readonly = "readonly", @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Alert.AlertTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.RuleId, "RuleId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.RuleId, new { @readonly = "readonly", @class = "form-control" })


                @Html.ValidationMessageFor(model => model.Alert.RuleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Server, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.Server, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.Server, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Origin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.Origin, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.Origin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Engine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.Engine, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.Engine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.MessageTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.MessageTypeName, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.MessageTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.AlertParameterId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.AlertParameterId, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.AlertParameterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Assignee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Alert.Assignee, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.Assignee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Severity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alert.Severity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alert.Severity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Alert.Status, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Alert.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alert.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alert.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", new { ActiveOrArchived = Model.Alert.Status.ToString() }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
