@model AdministrationPortal.ViewModels.Alerts.AlertPagingCreateView
@using PagedList.Mvc;

@section styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "PAML Alerts";
    Layout = "~/Views/Shared/_LayoutUserPortal.cshtml";
}

<h2>Alerts</h2>

    @using (Html.BeginForm())
    {
        <div class="input-group">
            <div class="input-group-addon input-group-select">
                @Html.DropDownList("sortSelect", Model.sortSelect, new {onchange = @"form.submit();"})
            </div>
            @Html.TextBox("searchString", null, new { @class = "form-control", style = "max-width: none;", placeholder = "Search for Alerts" })
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="Search" />
            </span>
        </div>
    }
<div class="container-fluid">
    <div class="row">
        <table class="table table-striped table-hover table-responsive">


            @foreach (var item in Model.pagedList)
            {
            string cssClass = "";
            switch (item.Severity)
            {
            case 5:
            cssClass = "redTableCell";
            break;
            case 4:
            cssClass = "orangeTableCell";
            break;
            case 3:
            cssClass = "yellowTableCell";
            break;
            case 2:
            cssClass = "blueTableCell";
            break;
            default:
            cssClass = "greenTableCell";
            break;
            }


            <tr onclick="location.href = '@(Url.Action("Details", "Alerts", new { id=(int)item.Id, StatusCode = item.AlertStatus.StatusCode.ToString(), lastModified = item.AlertStatus.MostRecent().Timestamp, Model.PageNo, sortOrder = Model.sortSelect}))'">

                <td class="@cssClass ">
                    @Html.DisplayFor(modelItem => item.Severity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlertStatus.StatusCode)<br />
                    @Html.DisplayFor(modelItem => item.Rule.SupportCategory.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AlertType.Name)<br />
                    @Html.DisplayFor(modelItem => item.AlertStatus.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>

            </tr>
            }

        </table>
    </div>
</div>
Page @(Model.pagedList.PageCount < Model.pagedList.PageNumber ? 0 : Model.pagedList.PageNumber) of @Model.pagedList.PageCount
@Html.PagedListPager(Model.pagedList, Page_No => Url.Action("Index",
    new { ActiveOrArchived = Model.status,  Page_No })) 