@model AdministrationPortal.ViewModels.AlertCategories.AlertCategoryDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AlertCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlertCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertCategory.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Engine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.AlertTypes.Count) Alert Types:
        </dt>
        <dd>
            
        </dd>
        @foreach (var alertType in Model.AlertTypes)
        {
            <dt>
               
            </dt>

            <dd>
                • @Html.DisplayFor(model => alertType.Name)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlertCategory.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
