@model WatchdogDatabaseAccessLayer.MessageType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MessageType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredParams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredParams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionalParams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionalParams)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
