@using AdministrationPortal.Helpers
@model WatchdogDatabaseAccessLayer.Models.Rule

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


<div class="form-horizontal">
    <h4>Rule</h4>
    <hr/>
        
        
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Rule Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RuleCreator, "Created by", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.RuleCreator)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Expression, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Expression)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DefaultSeverity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DefaultSeverity)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AlertTypeId, "Alert Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.AlertType.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MessageTypeName, "Message Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
                
            @Html.DisplayFor(model => model.MessageTypeName)
                
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RuleCategories, "RuleCategories", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <ul>
                @foreach (var cat in Model.RuleCategories)
                {
                    <li>@cat.Name</li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SupportCategoryId, "Support Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.SupportCategory.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DefaultNote, "Default Note", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DefaultNote.Text)
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Edit", "Edit", new { id =  1})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") |
    @Scripts.Render("~/Scripts/bootstrap-multiselect.js")

    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/addon/lint/json-lint.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
    <script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/addon/lint/lint.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/addon/lint/lint.css">-->

    <!--<script type="text/javascript">
        $(document).ready(function () {
            CodeMirror.fromTextArea($('#Expression')[0], {
                lineNumbers: true,
                mode: "application/json",
                gutters: ["CodeMirror-lint-markers"],
                lineNumbers: true,
                lint: true
            });
        });
    </script>-->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#RuleCategoryIds').multiselect({
                buttonWidth: '100%',
                enableCaseInsensitiveFiltering: true,
                disableIfEmpty: true
            });
        });
    </script>
}