@model IEnumerable<WatchdogDatabaseAccessLayer.Models.EscalationChain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var chain in Model)
{
    <div class="well well-lg">
        @chain.Name

        <ol>
            @for (var root = @chain.EscalationChainRootLink; root != null; root = root.NextLink)
            {
                if (root.NotifyeeGroup != null)
                {
                    <li>@root.NotifyeeGroup.Name</li>
                }
                else
                {
                    <li>Null</li>
                }
            }
        </ol>

        @Html.ActionLink("Edit","Edit",new {id=chain.Id})
        @Html.ActionLink("Delete", "Delete", new { id = chain.Id })
    </div>
}
