@model AdministrationPortal.ViewModels.AlertTypes.DeleteAlertTypeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>@Model.PageHeaderMessage</h3>

<div>
    <h4>AlertType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlertType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertType.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default @Model.ButtonClass()" @Model.ButtonState() /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
