@using WatchdogDatabaseAccessLayer.Models
@model AdministrationPortal.ViewModels.AlertTypes.IndexAlertTypesViewModel

@{
    ViewBag.Title = "Alert Types";
}

<h2>Alert Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Model.GetMessage()

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => new AlertType().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => new AlertType().Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.AlertTypes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
