@using WatchdogDatabaseAccessLayer.Models
@model AdministrationPortal.ViewModels.RegisteredEngines.IndexRegisteredEnginesViewModel

@{
    ViewBag.Title = "Engines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registered Engines</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Model.GetMessage()

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => new Engine().Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Engines) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Name })
        </td>
    </tr>
}

</table>
