@model AdministrationPortal.ViewModels.NotifyeesIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Notifyee", "CreateNotifyee") | 
    @Html.ActionLink("Create New Group", "CreateNotifyeeGroup")
</p>
<table class="table">
    <tr>
        <th>
            Groups
        </th>
    </tr>

@foreach (var item in Model.NotifyeeGroups) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            <ul>
                @foreach (var notifyee in item.Notifyees)
                {
                    <li>
                        @notifyee.Name
                    </li>
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Delete","DeleteNotifyeeGroup", new {id = item.Id}) | @Html.ActionLink("Edit", "EditNotifyeeGroup", new { id = item.Id })
        </td>
    </tr>
}

</table>

<table class="table">
    <tr>
        <th>
            All
        </th>
    </tr>

    @foreach (var notifyee in Model.Notifyees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => notifyee.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteNotifyee", new { id = notifyee.Id }) | @Html.ActionLink("Edit", "EditNotifyee", new { id = notifyee.Id })
            </td>
        </tr>
    }

</table>
