@model IEnumerable<WatchdogDatabaseAccessLayer.Alert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-hover">
    <tr class="noHover">
        <th>
            @Html.DisplayNameFor(model => model.Payload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rule.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Details", "Alerts", new { id=item.Id }))'" >
        <td>
            
            @Html.DisplayFor(modelItem => item.Payload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rule.Name)
        </td>
        
    </tr>
}

</table>
