@model PagedList.IPagedList<WatchdogDatabaseAccessLayer.Models.Alert>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-hover">
    <tr class="noHover">
        <th>
            Status
        </th>

        <th>
            AlertType
        </th>

        <th>
            Time
        </th>
        
        <th>
            Rule
        </th>
       
    </tr>

@foreach (var item in Model)
{
    string cssClass = "";
    switch (item.Status.ToString())
    {
        case "UnAcknowledged":
            cssClass = "redTableCell";
            break;
        case "Resolved":
            cssClass = "greenTableCell";
            break;
        default:
            cssClass = "yellowTableCell";
            break;
    }


    <tr onclick="location.href = '@(Url.Action("Details", "Alerts", new { id=item.Id }))'" >
        

        <td class="@cssClass">
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AlertType.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Rule.Name)
        </td>
        
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { ActiveOrArchived = ViewBag.Active,  Page_No  })) 